*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
@media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
}
body {
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}
.container{
    display: flex;
    justify-content: space-between;
}
.form-background{
    display: flex;
    background-image: url(img-prin.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width:35%;
}

.titulo-background{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 50%);
    color: white;
    margin-top: 9rem;
    width: 100%;
    height: 8rem;
}

.titulo-background > h1 {
    font-weight: bold;
    font-size: min(2.9rem, 200px);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.odin-logo{
    width: 5rem;
}

.form-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    background: #ffffff;
   
}

p {
    font-weight: bolder;
    max-width: 75ch;
    padding: 20px;
    margin-left: 1.7rem;
    font-size: 1.2rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}



.italic{
    font-style: italic;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 2rem;
    margin-left: 1.7rem;
    opacity: 80%;
}

.btn-cadastro{
    padding: 20px;
    margin-left: 1.5rem;
}
 
.container-form{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 15px;
    padding: 20px;
}


.form-grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap; 
  }
  
.coluna {
    flex: 1;
    min-width: 250px;
  }
  
.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label{
    font-size: 0.9rem;
}
